
@import "ember-bootstrap/bootstrap";

.segment{
  padding: 1.5rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: .2rem;
  position: relative;
  padding: 1rem;
  border: solid #f7f7f9;
}
.alert-confirmation{
  margin: 4px;
}
.hide{
  display: none;
}
