<div class="jumbotron">
  <div class="container">
    <h1>Banque d'outils</h1>
    <p class="lead">Annuaire des outils internes, classement par catégories, accès par profil.</p>
  </div>
</div>
{{outlet}}